html {   
    min-width: 320px;   
    max-width: 1400px; 
}

.body{
    font-family: 'Fredoka One', cursive;
    font-family: 'Lilita One', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
    
}

.CONTAINER{
    height: 100%;
    padding: 1rem 0.8rem;
}

.boton{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
