.header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #D8ADEE;
    padding: 0.5rem 1%;
    gap: 1rem;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__logoNombre{
    display: flex;
    align-items: center;
    order: 0;
    flex-grow: 1;
}

.header__logo{
    display: none;
    width: 70px;
}

.header__nombre--link{
    text-decoration: none;
}

.header__nombre{
    color: white;
    font-family: 'Lilita One';
    font-size: 1.8rem;
    font-weight: 400;
    padding-left: 6px;
}

.header__busqueda{
    display: flex;
    justify-content: center;
    height: 95%;
    order: 2;
}

.header__buscar{
    display: none;
    background: white;
    border-radius: 8px 0 0 8px;
    border: 0.1rem solid white;
    padding: 0.5rem;
    font-family: 'Roboto Mono', monospace;
    color: #F1D4FF;
    width: 85%;
}

.header__buscar::placeholder{
    color: #D8ADEE;
}

.header__buscar:focus{
    outline: none;
    color: #F1D4FF;
}

.header__lupa{
    background: #F1D4FF;
    padding: 0.4rem;
    border-radius: 8px 8px;
    border: 0.1rem solid #F1D4FF;
    width: 20px;
}

.header__lupa:hover{
    background: #8D65A1;
}

.header__navegacion{
    display: none;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 95%;
    gap: 2rem;
}

.header__link{
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Mono';
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
    transition: 0.3s;
}

.header__link:hover{
    font-weight: 600;
    font-size: 1.2rem;
}

.header__botonSesion{
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border: 0.1rem solid white;
    border-radius: 8px;
    padding: 0 0.5rem;

    font-family: 'Montserrat', sans-serif;
    color: #8D65A1;
    font-size: 0.75rem;
    font-weight: 400;
    text-decoration: none;
    text-align: center;

    transition: 0.4s;
    order: 1;
}

.header__botonSesion:hover{
    box-shadow: 2px 2px 4px -1px #8D65A1;
}

.head__buttonNav{
    display: block;
    background: none;
    border: none;
    order: 3;
}

@media screen and (min-width: 480px){
    .header__logo{
        display: block;
    }
    .header__nombre{
        padding-left: 0;
    }
}

@media screen and (min-width: 768px){
    .header__nombre{
        font-size: 2.5rem;
    }
    .header__busqueda{
       width: 35%;
    }
    .header__buscar{
        display: block;
    }
    .header__lupa{
        border-radius: 0 8px 8px 0;
    }
    .header__lupa{
        padding: 0.3rem;
        /*width: 7%;*/
    }
}

@media screen and (min-width: 1024px){  
    .header__logoNombre{
        flex-grow: 0;
    }
    .header__navegacion{
        display: flex;
    }
    .header__botonSesion{
        width: 15%;
        font-size: 0.82rem;
        font-weight: 600;
        order: 3;
    }
    .header__botonSesion:hover{
        width: 14.5%;
        cursor: pointer;
    }
    .head__buttonNav{
        display: none;
    }
}

@media screen and (min-width: 1400px){
    .header{
        right: calc(100vw - 1400px);
    }
}