.banner{
    background: url(../image/banner_perro.jpg) center/cover no-repeat;
    width: auto;
    height: 40vh;
    margin-top: 40px;
}

.banner__imagenes{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    height: 90%;
    width: 90%;
    gap: 0.4rem;
}

.banner__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

.banner__subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
}

.banner__boton{
    background: #6DA187;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    color: white;
    width: 100px;
    height: 10%;
    padding: 0.8rem 0.4rem 0.4rem 0.2rem;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    .banner{
        height: 60vh;
        margin-top: 55px;
    }
    .banner__titulo{
        font-size: 2.8rem;
    }
    .banner__subtitulo{
        font-size: 1.3rem;
    }
    .banner__boton{
        padding: 1.3rem 0.4rem 0.4rem 0.2rem;
    }
}

@media screen and (min-width: 1024px){
    .banner{
        height: 70vh;
    }
}