.sobreNosotros{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: #6DA187;
}

.sobreNosotros__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sobreNosotros__logo{
    display: flex;
    align-items: center;
}

.sobreNosotros__imagen{
    width: 50px;
}

.sobreNosotros__enlace{
    text-decoration: none;
}

.sobreNosotros__nombre{
    color: white;
    font-family: 'Lilita One';
    font-size: 1.8rem;
    font-weight: 400;
}

.sobreNosotros__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.sobreNosotros__item{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    color: white;
}

.sobreNosotros__contacto{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.sobreNosotros__contacto__titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

.sobreNosotros__contacto__formulario{
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    width: 250px;
}

.sobreNosotros__contacto__button{
    margin-top: 0.5rem;
    background: white;
    border: none;
    height: 40px;
    width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color:#6DA187;
}

@media screen and (min-width: 768px){
    .sobreNosotros{
        flex-direction: row;
        justify-content: center;
    }
    .sobreNosotros__info{
        flex-grow: 1;
    }
    .sobreNosotros__contacto{
        align-items: flex-start;
        flex-grow: 2; 
    }
}

@media screen and (min-width: 1024px){
    .sobreNosotros{
        padding: 3rem 0.8rem;
    }
    .sobreNosotros__info{
        flex-grow: 1;
        flex-direction: row;
        align-items: flex-start
    }
    .sobreNosotros__logo{
        flex-grow: 1;
        justify-content: center;
    }
    .sobreNosotros__lista{
        flex-grow: 1;
        gap: 1.5rem;
        padding: 2.3rem 2rem
    }
    .sobreNosotros__contacto{
        align-items: flex-start;
        flex-grow: 1; 
    }
    .sobreNosotros__contacto__formulario{
        width: 85%;
    }
}